body {
    margin: 0;
  }
.header {
    background-color: rgb(22, 21, 21);
    font-size: 16px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  .logo-container {
    display: flex;
    margin-bottom: 10px;
  }

  .logo-text {
    font-size: 28px;
    font-weight: bold;
    color: #247ede;
    margin-bottom: 1px;
    text-decoration: none;
  }
  .right-side,
  .link-container {
    display: flex;
    align-items: center;
  }
  
  .header-link {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  .custom-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px 15px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 30px;
  }

  .hover-options {
    position: relative;
  }

  .options p{
    margin-bottom: 10px;
    white-space: nowrap; 
    overflow: hidden; /* Hide any overflow content */
    /* text-overflow: ellipsi; */
    align-self: flex-start;
  }

  .options {
    display: none;
    position: absolute;
    margin-top: 12px;
    background-color: #1a1919;
     /* background-color: red; */
     /* padding: 50px 0px; */
    width: 300px;
    height: 450px;
    border-radius: 12px;
    left: -75px;
    /* left: 0; */
    /* top: 100%; */
    flex-direction: column; /* Align children in a column */
    align-items: flex-start;
    white-space: nowrap;
    
  }
  
  .options a{
    color: white;
    text-decoration: none;
    display: flex;
  }
  
  .hover-options:hover:hover .options{
    display: block;
  }
  
  .hover-options:hover .highlight {
    /* display: block; */

    display: flex; /* Change to flex to allow flex-direction and align-items to work */
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-link:hover,
  .header-link.selected {
  background-color: #474545;
}
.para {
  /* background-color: yellow; */
  display: inline-flexbox;
  margin: 20px;
}
.options p {
  font-weight: bold;
  margin-bottom: 10px;
  white-space: normal; /* Allow line breaks within the paragraph */
  overflow: hidden; /* Hide any overflow content */
  text-overflow: ellipsis; /* Add an ellipsis (...) if the text overflows horizontally */
  max-height: 3em; /* Set your desired max height for the paragraph */
  margin: 20px;
  /* margin */
}